.login_Border {
    display: flex;
    justify-content: space-around;
    align-items: center;
   margin: 20px;
}


.login_title{
        background-image: url(login.png);
        background-repeat: no-repeat;
        width: 60vw;
        height: 60vh;
        background-size: contain;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        flex-shrink: 0;
        text-align: center;
        margin-top: 15vh;
        /* margin-right: 2%; */
        margin-right: -5%;
     
        
    }
    .login_menu{
        margin-left: -20px;
    }
    
    .login_title h2,
    .login_title h3,
    .login_title h4{
        margin: 0;
        margin-right: 7vw;
    }

.login_title h2 {
    font-size: 40px;
    color:rgb(201, 194, 85);
    
    
}
.login_title h3{
    font-size: 40px;
    color: white;
    

}
.login_title h4{
    color: #ffda92;
    font-size: 13px;
    
}
.login_title h4 span {
    color: white; 
}


    .login_state {
        background-color: #282828;
        border: 1px solid #282828;
        width: 600px;
        height: 500px;
        border-radius: 25px;
        box-shadow: 10px 10px 100px 50px rgba(112, 102, 89, 0.20);
        color: #ffda92;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 8vh;
        flex-direction: column;
        margin-right: 10%;
        
        /* margin-right: 8%; */

    }
    input{
        width: 293px;
        height: 55px;
        flex-shrink: 0;
        border-radius: 18px;
        background-color: #ffda92;
        box-shadow: 5px 5px 30px 0px rgba(170,170,170,0.25);
        display: flex;
        justify-self: center;
        margin-left: 29px;
    

    } 
    input::placeholder{
        color: white;
        font-size: 14px;

    }
    .login_Button {
        margin-top: 120px;
        margin-left: 8px;

    }

    .login_Button button{
        width: 300px;
        height: 60px;
        flex-shrink: 0;
        border-radius: 60px;
        background-color: #ffda92;
        color: #FFF;
        font-family: Inter;
        font-size: 20px;
        font-style: normal;
        font-weight: bold;
        line-height: normal;
        margin-left: 20px;
    }
    .Login-line{
        position: absolute;
        width: 350px;
        margin-top: 220px;
        height: 1px;
        background-color: #ffda92;
        border: 1px solid #ffda92;
       

        
    }
    .bottom{
        display: flex;
        width: 800px;
        height: 60px;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        color: #797979;
        text-align: center;
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    

    }
    .bottom span{
        color: #b29866;
        margin-left: 5px; 
        margin-right: 5px;
    
    
    }
    .Id,.Pw{

        color: #ffda92;
        margin-left: 10%;
        font-weight: 700;
        font-style: normal;
        line-height: normal;
        margin-top: 10px;
    }
    .Login{
        font-size: 26px;
        margin-top: -20px;
      
    }
    .state_font_box{
        width: 10px;
    }
   
    .state_font1{
        display: flex;
        justify-content: center;
        align-items: center;

        position: absolute;
        width: 450px;
        height: 100px;
        background-image:url("image1.png") ;
        background-repeat: no-repeat;
        background-size: 30px;
        background-position: 25% 56%;
       margin-left: -53px;
       margin-top: 3px; 
       text-decoration: none;
       color: #ffda92;
    
    
       
       
    }

.state_font2{  
    
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    width: 450px;
    height: 100px;
    background-image:url("image1.png") ;
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: 19.7% 56%;
   margin-left: -30px;
   margin-top: 40px;
   text-decoration: none;
   color: #ffda92;

}