.id__input{


    width: 410px;
    height: 70px;
    margin-top: -3.5% !important;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
   
    margin-left: 0.8%;
}
.pw__input{
    width: 410px;
    height: 70px;
    margin-top: 3.7% !important;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    
    margin-left: 0.8%;

}



.login_Border {

    display: flex;
    justify-content: space-around;
    align-items: center;
   margin: 20px;
   height: 52em;

   
}


.login_title{

        
        background-image: url(login.png);
        background-repeat: no-repeat;
        width: 60vw;
        height: 60vh;
        background-size: contain;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        flex-shrink: 0;
        text-align: center;
        margin-top: 15vh;
        /* margin-right: 2%; */
        margin-right: -5%;
     
        
    }
    .login_menu{
        margin-left: -20px;
    }
    
    .login_title h2,
    .login_title h3,
    .login_title h4{
        margin: 0;
        margin-right: 7vw;
    }

.login_title h2 {
    font-size: 40px;
    color:rgb(201, 194, 85);
    
    
}
.login_title h3{
    font-size: 40px;
    color: white;
    

}
.login_title h4{
    color: #ffda92;
    font-size: 13px;
    
}
.login_title h4 span {
    color: white; 
}


    .login_state {
        background-color: #282828;
        border: 1px solid #282828;
        width: 660px;
        height: 630px;
        border-radius: 25px;
        box-shadow: 10px 10px 100px 50px rgba(112, 102, 89, 0.20);
        color: #ffda92;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 8.6vh;
        flex-direction: column;
        margin-left: 2%;
        margin-right: 10%;
        
        /* margin-right: 8%; */

    }
    input{
        width: 293px;
        height: 55px;
        flex-shrink: 0;
        border-radius: 24px;
        background-color: #ffda92;
        box-shadow: 5px 5px 30px 0px rgba(170,170,170,0.25);
        display: flex;
        justify-self: center;
        margin-left: 29px;
      
    

    } 
    input::placeholder{
        color: white;
        font-size: 17px;
      
    }
    .login_Button {
        position: absolute;
        margin-top: 15.9%;
        margin-left: 2.5%;

    }

    .login_Button button{ 
        width: 320px;
        height: 70px;
        flex-shrink: 0;
        border-radius: 60px;
        background-color: #ffda92;
        color: #FFF;
        font-family: Inter;
        font-size: 26px;
        font-style: normal;
        font-weight: bold;
        line-height: normal;    
        margin-left: 20px;
    }
    .Login-line{
        position: absolute;
        width: 500px;
        margin-top: 10%;
        height: 1px;
        margin-left: -1.2%;
        background-color: #ffda92;
        border: 1px solid #ffda92;
       

        
    }
    .bottom{
        display: flex;
        width: 800px;
        height: 60px;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        color: #797979;
        text-align: center;
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    

    }
    .bottom span{
        color: #b29866;
        margin-left: 5px; 
        margin-right: 5px;
    
    
    }
    .Id{

        color: #ffda92;
        position: absolute;
        margin-top: -5.7%;
        margin-left: 1%;
        font-size: 26px;
        font-weight: bold;
        
        
    }
    .Pw{
        color: #ffda92;
        position: absolute;
        margin-top: 1.5%;
        margin-left: 1%;
        font-size: 26px;
        font-weight: bold;
    }
    .Login{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top:-25%;
        font-size: 37px;
        
        position: absolute;
      
    }
    .state_font_box{
        display: flex;
        flex-direction: column;
    }
   
    .state_font1{
        font-size: 21px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 450px;
        background-image:url("image1.png") ;
        background-repeat: no-repeat;
        background-size: 32px;
        background-position: 20% -50%;
       margin-left:  0.3%;  
       margin-top: 48%;
       margin-bottom: 2%;
       text-decoration: none;
       color: #ffda92;
    }
.state_font2{  
    font-size: 21px;
    display: flex;
    justify-content: center;
    position: relative;
    width: 450px;
    height: 45px;
    margin-bottom: -12vh;

    background-image:url("image1.png") ;
    background-repeat: no-repeat;
    background-size: 32px;
    background-position: 13% -2%;
    margin-left: 7%;
    text-decoration: none;
    color: #ffda92;

}
