body {
    margin: 0;
    padding: 0;
    height: 90vh; /* 100% 뷰포트 높이 설정 */
}
.User_container {
    display: flex;
    flex-direction: column;
    width: 30vw;
    height: 25vh;
    flex-shrink: 0;
    border-radius: 30px;
    background: #282828;
    box-shadow: 0px 0px 50px 5px rgba(242, 152, 39, 0.12);
}

.lion-logo {
    width: 50px; /* 이미지 너비 조절 */
    height: 50px; /* 이미지 높이 조절 */
    margin-right: 10px; /* 이미지와 User_container 사이 여백 조절 */
  }

.main_container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10vh;
}

.header {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.header a {
    text-decoration: none;
    color: #333;
    padding: 10px;
    border: 1px solid #333;
    border-radius: 5px;
    background-color: #fff;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.header a:hover {
    background-color: #333;
    color: #fff;
}

.header a.active {
    background-color: skyblue;
    color: black;
  }

