body {
  margin: 0;
  padding: 0;
  height: 50vh;
}

.background-image {
  position: absolute !important;
  top: 0;
  left: 1vw;
}

.Logo_userName {
  position: absolute;
  top: 58%;
  left: 10vw;
  transform: translateY(-50%);
  color: #fff;
  white-space: nowrap;
  color: #FFF;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 70;
  line-height: normal;
}

.lion-logo {
  width: 7vw; 
  margin-left: 2vw;
  margin-top: 3vh;
}
  
.Logo_bottom {
  position: absolute;
  bottom: 0;
  left: 5.5vw;
  font-size: 10px;
  top: 15vh;
  transform: translateX(-50%);
  color: #fff;
  white-space: nowrap;
}

.Logo_userName .yellow {
  color: #F29827;
}
.Logo_bottom .yellow {
  color: #F29827;
  font-size: 12px;
}

.Logo_bottom .red {
  color: #EF4046;
}

.Logo_bottom .blue {
  color: #36507F;
}

.Logo_bottom .dark-blue {
  color: #D7965E;
}

.Logo_bottom .very-light-yellow {
  color: #39859F;
}



.User__main__container {
  display: flex;
  flex-direction: column;
  width: 40vw; /* 너비는 그대로 유지 */
  height: 37vh; /* 높이를 25vh로 수정 */
  flex-shrink: 0;
  border-radius: 30px;
  background: #282828;
  box-shadow: 0px 0px 30px 5px rgba(242, 152, 39, 0.12); /* 그림자 크기는 그대로 유지 */
  position: relative;
  color: white;
  top: -20vh; /* 위치를 20vh로 조절 */
  padding: 8vh; /* 내부 여백은 그대로 유지 */
  margin-left: 100px;
}

.Lion__info__container {
  text-align: center;
  font-family: Inter;
  font-size: 30px;
  font-style: normal;
  margin-top: -40PX;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 3vh;
}

.Lion__info__container .user__yellow {
  font-size: 35px;
}
.Lion__info__container .user__Info {
  font-size: 35px;
}

.Lion__info__container .user__yellow {
  color: #F29827;
}
.Lion__info__container span {
  margin-right: 10px; /* Adjust the margin as needed */
}

.main_container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  
}

.UserMainInfo {
  display: flex;
  flex-direction: column;
  position: relative; /* Add relative positioning to the container */
  color: #FFF;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

}

.UserMainInfo span {
  margin-bottom: 15px;
  margin-left: -0.5vw;
}

.MyInfoImg {
  position: absolute;
  bottom: 0;
  right: -30px; /* Adjust the right property */
  width: 35px;
  margin: 5px; /* Add margin as needed */
}

.Lion_info {
  display: flex;
  justify-content: center;
  font-size: 1.5vw;
}

.Logout_button {
  width: 10vw;
  height: 9vh;
  flex-shrink: 0;
  border-radius: 20px;
  background: #F29827;
  margin-left: 11vw;
  margin-top: 10vh;
  color: white;
  font-size: 1.5vw;
}

.main_header_container {
margin-top: -30vh !important;
width: 1000px;
margin-left:10%;
}
