.header_main_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 10vh; /* 변경된 부분 */
}

.header_menubar {
    color: white;
    margin-top: 10vh;
    margin-bottom: 10vh;
}

.header_header {
    display: flex;
    flex-direction: column;
}

.header_header a {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4vh;
    border-radius: 15px;
    color: white;
    background-color: #282828;
    width: 30vw;
    height: 9vh;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    box-shadow: 0px 0px 15px 3px rgba(242, 152, 39, 0.10); /* Adjusted shadow values */
    text-decoration: none;
}

.board,
.info,
.introduction,
.notice,
.task {
    /* 각 버튼에 대한 특별한 스타일을 추가하세요. */
    /* 예: */
    margin-bottom: 1vh;
}