/* 공백 div 스타일 */

* {
  box-sizing: border-box;
}

body {
  -ms-overflow-style: none;
  
}

::-webkit-scrollbar {
  display: none;
}

.tum {
  margin-top: 22vh;
}
/* 페이지에서 스크롤 막기 */
.page-without-scroll {
  overflow: hidden;
}

/* 모달이 열릴 때 스크롤을 허용하기 위한 스타일 */
.page-without-scroll .modal {
  overflow-y: auto;
}

/* 모달 스타일 */
.modal {
  position: fixed;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0);
  padding: 20px;
  z-index: 1000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 50px;
  border: 1px solid rgba(242, 152, 39, 0.90);
  background: rgba(40, 40, 40, 0.90);
  overflow-y: auto;
}

body.modal-open {
  overflow: hidden;
}

.modal__title {
  display: flex;
  justify-content: center;
  font-size: 2vw;
}

.modal__creat__time {
  margin-top: 0vh;
}

.modal__day__line {
  border-top: 1px solid #F29827;
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.madal__userInfo {
  margin-left: 2vw;
}

.modal__answer__main {
  margin-top: 20vh;
}

.modal__answer__liner {
  border-top: 1px solid #F29827;
  margin-bottom: 2vh;
}

.modal__answer__answer_main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  width: 90%;
  height: 8vh;
  border-radius: 30px;
  background: #282828;
  box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.50);
  margin: 10px 10px 10px 5%;
}

.modal__answer__answer {
  margin-left: 1.5vw;
}

.modal__answer__edit {
  background-color: #282828;
  border: 1px solid white;
  color: white;
  border-radius: 100%;
  height: 35px;
  font-size: 10px;
}

.modal__answer__del {
  background-color: #282828;
  color: #FD604B;
  stroke-width: 2px;
  border-radius: 100%;
  border: 1px solid #FD604B;
  margin: 10px 10px 10px 10px;
  font-size: 15px;
}

/* 선택적인 오버레이 스타일 (다른 내용 가리기) */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}

.modal__answer__container_2 {
  display: flex;
  flex-direction: row;
  left: -13vw;
  z-index: 3;
  margin-top: 10vh;
  
}

.modal__answer__input {
  width: 35vw;
  height: 10vh;
  border-radius: 30px;
  background: #282828;
  box-shadow: 4px 4px 50px 0px rgba(0, 0, 0, 0.25);
}

.modal__answer__input__container {
  display: flex;
  flex-direction: column;
}

.modal__close-button {
  display: none;
}


.choice_button {
  display: flex;
  justify-content: space-between;
  
}

.Board_main_header_container {
  display: flex;
  justify-content: space-around;
  position: absolute;
  margin-left: 5vw;

}

.write_button {
  position: absolute;
  margin-left: 90vw; /* 우측 여백이 7vw이므로 전체 화면 너비(100vw)에서 7vw만큼 뺀 값 */
  background-color: #282828;
  width: 50px;
  height: 50px;
  font-size: 44px;
  color: #F29827;
  border: 1px solid #F29827;
  border-radius: 100%;
}

.Board__title {
  color: #FFF;
  font-family: Inter;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-left: 1vw;
}

.Board_Lion_title {
  color: #F29827;
  text-align: center;
  font-family: Inter;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.Board_buttons {
  margin-top: 1%;
  margin-left: 1vw;
}



.Board_buttons button {

  background: none;
  border: none;
 
  
}

.Board_buttons button:hover {
cursor: pointer;
}

.board_line {

  margin-top: 7vh;
  margin-bottom: 4.3vh;
  margin-left: 3vw;
  margin-right: 3vw;
  background-color: #F29827;
  border-color: #F29827;;
}

.Board_table {
  margin-top: 3vh;
  margin-right: 2vw; /* 오른쪽 여백 조절 */
  overflow: hidden;
  margin-left: 20vw;
}


.swiper-slide {
  margin-right: 0 !important;
}

.board_swiper_main_container {
  border-radius: 30px !important;
  background-color: #282828 !important;
  box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.50) !important;
  margin-bottom: 20px;
  width: 80vw !important;
  margin-left: 4vw; /* 왼쪽 여백 추가 */
  margin-right: 2vw; /* 오른쪽 여백 추가 */
}

.board_swiper_container {
  display: flex !important;
  flex-direction: row !important;
  justify-content: space-between !important;
  align-items: center;
  height: 11vh;
  color: white;
  overflow: hidden !important;
  font-size: 20px;
}

.board_swiper_left {
  display: flex;
  flex-direction: row;
  margin-left: 1vw;
}

.board_swiper_right {
  display: flex;
  flex-direction: row;
  margin-left: 1vw;
}

.board_swiper_left_id {
  margin-right: 1vw;
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.board_swiper_left_title {
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-left: 3vw;
}
.board__write__time {
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  position: relative;
  left: -10vw;
}

.board_swiper_right_id {
  margin-right: 1vw;
  
}

.modal__close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  text-decoration: none;
  background-color: #282828;
  color: white;
}

.swiper-slide {
  width: 45%; /* 적절한 값을 선택해보세요 */
  margin-right: 20px; /* 적절한 여백을 선택해보세요 */
}

.Board_table {
  margin-top: 3vh;
  width: 90%; /* 전체 화면의 80%로 조절해보세요 */
  overflow: hidden;
  
}

.swiper-wrapper {
  margin-bottom: 10vh;
  width: 20vh;
}

.board__free__button {
  font-size: 23px;
  color: #fff;
  flex-direction: row;
  font-family: inter;
  font-style: normal;
  font-weight: 700;
  flex-direction: row;
}

.board__qna__button {
  color: #fff;
  font-size: 23px;
  flex-direction: row;
  font-family: inter;
  font-style: normal;
  font-weight: 700;
  flex-direction: row;
}

.board__admin__del__button {

  border: 1px solid red;
  border-radius: 50px;
  background-color: #282828;
  padding: 5px;
  color: red;
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: -30px
}

.board__write__name {
  position: absolute;
  margin-left: 68vw;
  display: flex;
  flex-direction: row;
}

.board__write__time {
  margin-left: 1vw;
}

.board__admin__edit__button {
  border: 1px solid green;
  background-color: #282828;
  padding: 5px;
  border-radius: 30px;
  margin-top: 29px;
}

.board__del__edit__button {
  display: flex;
  flex-direction: row;
  margin-right: 1vw;
}




.slider_button_container button {
  background-color: #282828 !important;
  margin: 0px 15vw 1vh 10vw !important;
}

.slider_button_container button img {
  width: 30px;
}

.slider_button_container button img.slider__left__button {
  background-color: #282828;
}

.slider_button_container {
  position: absolute;
  top: 85.4vh;
  left: 110px;
}

.slider_button_container button {
  position: relative; /* 버튼에 position: relative; 추가 */
  z-index: 2; /* z-index 값을 적절한 값으로 조절 */
}


/* 게시물 위치설정 */
.Board_content {
  margin-left: -15vw !important;
}

.gimojji {
  position: absolute;
  margin-left: 81vw;
}

.modal__answer__input__main {
  top: 5vh;
  width: 5vw;
}

.modal__answer__input {
  color: white;
}

.modal__answer__container_2 {
  position: absolute;
  display: flex;
  flex-direction: row;
  margin-left: 40vw;
}

.modal__add__button {
  margin: 1vh 0px 0px 0vw;
  border-radius: 30px;
  background: #83C586;
  width: 10vw;
  height: 5vh;
  color: #FFF;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.modal__edit__button {
  margin: 1vh 0px 0px 0vw;
  border-radius: 30px;
  background: #83C586;
  width: 10vw;
  height: 5vh;
  color: #FFF;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.modal__plusAndChange_2 {
  display: flex;
  margin-top: 2vh;
  
}

.modal__header__title {
  display: flex;
  flex-direction: column;
}

.board__modal__main__container {
  background-color: #282828 !important;
  color: #000;
}

.board__qna__button.moved,
.board__free__button.moved {
  animation: moveup 0.3s ease-out forwards;
  position: relative;
  top: -35%;
  text-shadow: 4px 4px 10px rgba(242, 152, 39, 0.50);
}

@keyframes moveup {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-12px);
  }
}

.author_name {
  position: absolute;
  width: 4vw;
  right: 5vw;
  margin-left: 10vw;
}

.board__write__name {
  display: flex;
  flex-direction: row;
}


.board__write__time {
  width: 15vw;
  right: 30vw;
}