/* introduction.css */

.Lion{
  color: #F29827;
  text-align: center;
  font-family: Inter;
  font-size: 28px !important;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.title{
  color: #FFF;
  font-family: Inter;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-left: 1vw;
}

.del__button {
  position: absolute;
  margin-right: 10px; /* 예상한 값으로 조절 */
  margin-top: 10px;  /* 예상한 값으로 조절 */
}

.edit__button {
  margin-right: 10px; /* 예상한 값으로 조절 */
}

.intro {
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: 2vw;
    margin-bottom: 2vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.intro a {
    text-decoration: none;
    color: #F29827;
    border: 1px solid #F29827;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-left: 85vw;
}

.intro_line {
  margin-top: 9vh;
  margin-left: 5vw;
  margin-right: 5vw;
}

.Lion {
    color: #F29827;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
  
/* introduction.css */

.introduction_main_container {
  margin-top: 22vh;
  margin-left: 3vw;
  margin-right: 3vw;
  position: relative;
}
.button-container {
  margin: 0px ;
}

.introduction__write__button {
  position: absolute;
  margin-left: 85vw; /* 우측 여백이 7vw이므로 전체 화면 너비(100vw)에서 7vw만큼 뺀 값 */
  background-color: #282828;
  width: 50px;
  height: 50px;
  font-size: 44px;
  color: #F29827;
  border: 1px solid #F29827;
  border-radius: 100%;
}

.intro {
  color: #FFF;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-left: 2vw;
  margin-bottom: 2vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.intro_line {
  border-top: 1px solid #F29827;
  margin: 3vh 0px 0px 0px;
  margin-bottom: 40px !important;
}

.Lion {
  color: #F29827;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.main_introduction {
  border-radius: 30px !important;
  background-color: #282828 !important;
  box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.50) !important;
  margin-bottom: 10px;
  width: 80vw !important;
  height: 11vh;
  margin-left: 5.8vw; /* 왼쪽 여백 추가 */
  margin-right: 2vw; /* 오른쪽 여백 추가 */
}


.slider_button_container__2 {
  /* 버튼 위치 조정을 위한 스타일 */
  position: relative;
  left: 4%;
}

.slider__left__button__2 {
  background-color: #282828;
  color: #282828;
}

.slider_button_container button {
  /* 버튼 스타일 */
  margin: 0 5px;
  padding: 10px 15px;
  font-size: 14px;
  background-color: #3498db;
  color: #fff;
  border: none;
  cursor: pointer;
}

.swiper-slide {
  margin-right: 20px; /* 각 슬라이드 사이의 우측 여백 */
  border-radius: 30px; /* 슬라이드의 모서리를 둥글게 만듭니다. */
  background: #282828; /* 배경색 설정 */
  box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.50); /* 그림자 효과 추가 */
}

.swiper-container {
  margin-top: 20px; /* 상단 여백 */
  margin-bottom: 20px; /* 하단 여백 */
}

.swiper-slide {
  margin-right: 20px; /* 각 슬라이드 사이의 우측 여백 */
}

/* 마지막 슬라이드에는 오른쪽 여백을 추가하지 않음 */
.swiper-slide:last-child {
  margin-right: 0;
}

.sub_introduction span,
.sub_introduction a,
.sub_introduction button {
  color: #fff;
}
.slick-prev,
.slick-next {
font-size: 24px;
color: white;
background-color: #333;
border: none;
border-radius: 50%;
}

.slick-prev {
left: 0;
}

.slick-next {
right: 0;
}

.slick-prev:hover,
.slick-next:hover {
background-color: #555;
}

.slick-dots {
bottom: 10px;
}

.slick-dots li button {
font-size: 12px;
color: white;
background-color: #333;
border: none;
border-radius: 50%;
}

.slick-dots li.slick-active button {
background-color: #555;
}

.introduction__id{
margin-right: 1vw;
}
.del__button{
position: absolute;
margin-right: 100%;
margin-top: 100px;
}
.edit__button{
position: absolute;
margin-right: 120%;
}


.sub_introduction {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    width: 100%;
    padding: 0 10px;
    font-size: 20px;
}

.sub_introduction span {
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-between !important;
    align-items: center;
    height: 11vh;
    color: white;
}

.slider_button_container__2 {
    /* 버튼 위치 조정을 위한 스타일 */
    position: absolute;
    top: 65vh;
    display: flex;
    left: 21vw;
    
}
.slider_button_container__2 button {
  background-color: #282828 !important;
  margin: 0px 15vw 1vh 10vw !important;
  border: none;
  outline: none;
  cursor: pointer;
  
}

.slider__left__button__2 {
  width: 30px;
}
.slider__right__button__2 {
  width: 30px;
}

.swiper-slide {
    margin-right: 20px; /* 각 슬라이드 사이의 우측 여백 */
    border-radius: 30px; /* 슬라이드의 모서리를 둥글게 만듭니다. */
    background: #282828; /* 배경색 설정 */
    box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.50); /* 그림자 효과 추가 */
}

.swiper-container {
    margin-top: 20px; /* 상단 여백 */
    margin-bottom: 20px; /* 하단 여백 */
}
  
.swiper-slide {
    margin-right: 20px; /* 각 슬라이드 사이의 우측 여백 */
}
  
  /* 마지막 슬라이드에는 오른쪽 여백을 추가하지 않음 */
.swiper-slide:last-child {
    margin-right: 0;
}



.sub_introduction span,
.sub_introduction a,
.sub_introduction button {
    color: #fff;
}
.slick-prev,
.slick-next {
  font-size: 24px;
  color: white;
  background-color: #333;
  border: none;
  border-radius: 50%;
}

.slick-prev {
  left: 0;
}

.slick-next {
  right: 0;
}

.slick-prev:hover,
.slick-next:hover {
  background-color: #555;
}

.slick-dots {
  bottom: 10px;
}

.slick-dots li button {
  font-size: 12px;
  color: white;
  background-color: #333;
  border: none;
  border-radius: 50%;
}

.slick-dots li.slick-active button {
  background-color: #555;
}

.introduction__id{
  margin-right: 1vw;
}
.edit__button{
  border: 1px solid red;
  border-radius: 50px;
  background-color: #282828;
  padding: 5px;
  color: red;
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 1vh;
  margin-left: 85%;
  margin-top:-5%;
  position: absolute;
}
.del__button{
  border: 1px solid green;
  background-color: #282828;
  padding: 5px;
  border-radius: 30px;
  margin-left: 88%;
  margin-top:-5%;
}

.introduction__id {
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.introduction__title {
  margin-right: 30vw;
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.introduction__time {
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.introduction__side__button {
  position: absolute;
}

.main_introduction {
  display: flex;
  justify-content: space-between;
}

.gimojji {
  display: flex;
  align-items: center;
  margin-top: -6.7vh !important;
}
.introduction__side__button {
display: flex;
align-items: center;
}

.board__admin__del__button__yo {
  text-decoration: none;
  margin-bottom: 10px;
  border: 1px solid red;
  border-radius: 50px;
  background-color: #282828;
  padding: 5px;
  color: red;
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.introduction__modal__title {
font-size: 3vw;
margin: 1vh 0px 3vh 0px;
display: flex;
justify-content: center;
font-family: Inter;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.introduction__modal__time {
font-family: Inter;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.introduction__modal__header__line {
margin-top: 3vh;
border-top: 1px solid #F29827;
}

.introduction__modal__img {
display: flex;
justify-content: center;
margin: 1vh 0px 1vh 0px;
}

.introduction__modal__content {
font-family: Inter;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.introduction__modal__close__button {
border: 1px solid green;
background-color: green;
color: white;
padding: 5px;
border-radius: 30px;
font-family: Inter;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-left: 45%;
}